.pagination {
	background: var(--elements);
	width: $width;
	border-radius: 5px;
	margin: 5vh auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	padding: 2vh 0;
	li {
		width: 20px;
		margin: 5px;
	}
	a {
		text-decoration: none;
		color: var(--color);
		&:hover {
			color: $lightGrey;
		}
		padding: 5px;
		margin: 10px;
	}
}
