:root {
	--color: hsl(0, 0%, 100%);
	--input: hsl(207, 26%, 17%);
	--elements: hsl(209, 23%, 22%);
	--background: hsl(207, 26%, 17%);
}

.light {
	--color: hsl(200, 15%, 8%);
	--input: hsl(0, 0%, 52%);
	--elements: hsl(0, 0%, 100%);
	--background: hsl(0, 0%, 98%);
}

$lightGrey: hsl(0, 0%, 52%);

$width: 95vw;

$tablet: 500px;
$desktop: 800px;

@mixin font {
	font-size: 14px;
	font-family: "Nunito Sans", sans-serif;
	color: var(--color);
}

@mixin input {
	@include font;
	&:active {
		border-color: var(--background);
	}
}

@mixin media($bp) {
	@media (min-width: $bp) {
		@content;
	}
}

@import "nav";
@import "modetoggle";
@import "search";
@import "country";
@import "pagination";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	@include font;
	overflow-x: hidden;
}

:focus {
	outline: none;
	border: 1px solid $lightGrey;
	border-radius: 15px;
}

button {
	cursor: pointer;
}
