nav {
  height: 15vh;
  background: #2b3945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2vw;
}

.mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggle {
  background: white;
  border-radius: 15px;
  height: 16px;
  width: 30px;
  position: relative;
  margin: 0 0.5vw;
}

.toggle input {
  height: 0;
  width: 0;
  opacity: 0;
}

.toggle input:checked + .slider {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.slider {
  width: 12px;
  height: 12px;
  background: #858585;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin: 2px 4px;
}

.searchBar {
  min-height: 10vh;
  width: 95vw;
  background: #2b3945;
  padding: 2vh 5vw;
  margin: auto;
  border-radius: 15px;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchBar:focus, .searchBar:hover, .searchBar:active {
  border: 1px solid #858585;
}

.searchBar label {
  display: none;
}

.searchBar input {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  background: #2b3945;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 2vh 2vw;
  margin: 0vh 2vw;
  min-width: 65vw;
}

.searchBar input:active {
  border-color: #202c37;
}

.searchBar input:focus {
  outline: none;
}

.searchInvalid {
  border: 1px solid red !important;
}

.searchInvalid p {
  color: red;
  margin: 1vh 0;
  text-align: center;
  white-space: pre;
}

.countryList {
  width: 85vw;
  margin: 5vh auto;
  background: #2b3945;
  border-radius: 15px;
}

.countryList img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.countryDetails {
  width: 100vw;
  margin: 5vh auto;
}

.countryDetails img {
  margin: 0 4vw;
  width: 92vw;
}

.countryInfo {
  padding: 4vh 4vw;
}

.countryInfo h1 {
  margin: 4vh 0;
}

.countryInfo li {
  list-style: none;
  margin: 2vh 0;
}

.countryInfo ul {
  margin-bottom: 4vh;
}

.borders {
  padding: 3vh 0;
}

.borders span {
  margin: 3vh 1vw 3vh 0;
  padding: 1vh 3vw;
  background: #2b3945;
  -webkit-box-shadow: 0px 2px 7px 4px #202c37;
          box-shadow: 0px 2px 7px 4px #202c37;
}

.backBtn {
  margin-bottom: 5vh;
  margin-left: 4vw;
  padding: 2vh 2vw;
  background: #2b3945;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 2px 7px 4px #202c37;
          box-shadow: 0px 2px 7px 4px #202c37;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
}

.backBtn span {
  margin-left: 1vw;
}

.pagination {
  background: #2b3945;
  width: 95vw;
  border-radius: 5px;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 2vh 0;
}

.pagination li {
  width: 20px;
  margin: 5px;
}

.pagination a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 10px;
}

.pagination a:hover {
  color: #858585;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #202c37;
  color: white;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

:focus {
  outline: none;
  border: 1px solid #858585;
  border-radius: 15px;
}
/*# sourceMappingURL=app.css.map */